.group-custom-send > li:first-child{
    border-top-right-radius: 1rem;
}
.group-custom-send > li:last-child{
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.group-custom-send > li{
    border-radius: 0.4rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.group-custom-received > li:first-child{
    border-top-left-radius: 1rem;
}
.group-custom-received > li:last-child{
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.group-custom-received > li{
    border-radius: 0.4rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}